{{>header}}

    <!-- page content -->
    <div class="right_col" role="main">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>CLI</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p>
                        The easiest way to install the Trident CLI is to run the following command:
                        </p>
                        <p>
                        curl -s {{curlBashUrl}} | bash
                        </p>

                        <p>
                        Alternately, you can <a href="/cli/download">download the CLI</a> manually.  After you have downloaded the executable, you should make it executable and place it in your PATH.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{{>footer}}
